
{% for data in akunlist %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{data.nama_akun}}</td>
        <td>{{data.kode_akun}}</td>
        <td>{{data.kategori}}</td>
        <td>
            <button type="button" class="btn btn-sm btn-default js-view-akun" data-url="{% url 'akun:view-akun' data.id %}">
                <span class="fa fa-eye"></span> Detail
            </button>
            <button type="button" class="btn btn-sm btn-success js-edit-akun" data-url="{% url 'akun:edit' data.id %}">
                <span class="fa fa-pencil"></span> Edit
            </button>
            <button type="button" class="btn btn-sm btn-danger js-delete-akun" data-url="{% url 'akun:delete' data.id %}">
                <span class="fa fa-trash"></span> Delete
            </button>
        </td>
    </tr>
{% endfor %}
    