{% load custome_sum %}
{% load custome_render %}
{% for data in akun %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{data.kode_akun}}</td>
        <td>{{data.nama_akun}}</td>
        
        {% if data.kategori == 'Debit' %}
            <td>{% findTheSum akun=data.id %}</td>
            <td>Rp 0.</td>
            {% else %}
                <td>Rp 0.</td>
                <td>{% findTheSum akun=data.id %}</td>
        {% endif %}
            
    </tr>
{% endfor %}
<tr>
    <td colspan="3" class="text-center"><b>Total Saldo</b></td>
    <td class="text-center"><b>{{total_saldo_debet|to_rupiah}}</b></td>
    <td class="text-center"><b>{{total_saldo_kredit|to_rupiah}}</b></td>
</tr>
    