{% extends 'base.html' %}
{% load static %}

{% block title_app %}
    {{page_title}}
{% endblock title_app %}

{% block content %}
    <div class="box-header">
        <h3 class="box-title">{{page_title}}</h3>
        <div class="pull-right">
            <a class="btn btn-primary" href="{% url 'pengguna:create' %}">
                <span class="fa fa-plus"></span> Add
            </a>
        </div>
    </div>
    <div class="box-body table-responsive">
        <table class="table table-bordered table-striped" id="table-pengguna">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>No Telp</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% include 'pengguna/pengguna_manage_list.html' %}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="modal-pengguna">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    <script src="{% static 'js/pengguna/pengguna_my.js' %}"></script>
{% endblock javascripts %}
    